<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MySQL TOP session </title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="web/static/lib/layui-v2.6.3/css/layui.css" media="all">
  <link rel="stylesheet" href="web/static/css/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>MySQL TOP sessioon</cite></a>
  </div>
</div>

<!--<div class="layui-inline">-->
<!--  <div class="layui-input-inline" style="width: 200px;">-->
<!--    <select name="interest" lay-filter="aihao" id="superviseDept" >-->
<!--      <option value="">刷新时间</option>-->
<!--      <option value="2000">2秒</option>-->
<!--      <option value="3000">3秒</option>-->
<!--      <option  value="5000">5秒</option>-->
<!--      <option selected="selected"value="10000">10秒</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->


<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">MySQL TOP SQL</div>
        <div class="layui-card-body">
          <table class="layui-hide" id="test-table-autowidth"></table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="layui-card-body">
  <div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title" style="padding-right: 30px;height: auto!important;white-space: normal!important;">
      <li class="layui-this">执行效率</li>
      <li>sql文本</li>
      <li>优化器执行计划</li>
      <li>优化器日志</li>
      <li>统计信息</li>
      <li>历史执行时间</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <table class="layui-table" id="sql_profile"
               lay-filter="sql_profile"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_text"
               lay-filter="sql_text"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_plan"
               lay-filter="sql_plan"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_trace"
               lay-filter="sql_trace"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_statistics"
               lay-filter="sql_statistics"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_history"
               lay-filter="sql_history"></table>
      </div>

    </div>
  </div>
</div>




<script src="web/static/js/lay-module/echarts/echarts.js" charset="utf-8"></script>
<script src="web/static/lib/layui-v2.6.3/layui.js"></script>
<script src="web/static/js/jquery.min.js"></script>


<script>
  /*$(document).ready(function() {

  });*/
  //$("#superviseDept").val(5000);//设置value为xx的optio
  var nowCount=0;
  var nowCurr=0;

  // var id = $.getUrlParam('id');
  var id = getQueryVariable('id');
  $(function() {
    layui.use(['form', 'table'], function () {
      var $ = layui.jquery,
              form = layui.form,
              table = layui.table;


      var insTb = table.render({
        elem: '#test-table-autowidth'  // 指向页面组件id
        ,where:{ id: id }                // 传递ID参数,根据ID 获取本地配置数据库中目标数据库连接信息（ip，username，password，port）
        ,url: '/Getmysqltopsql'       // 异步获取数据api接口
        ,method:'post'
        ,cellMinWidth: 80              //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        ,cols: [[
          {field:'SCHEMA_NAME',title: '数据库名', sort: true,width:100}
          ,{field:'DIGEST_TEXT', title: 'SQL', sort: true} //width 支持：数字、百分比和不填写。width: '30%' 你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
          ,{field:'COUNT_STAR', title: '总次数', sort: true}
          ,{field:'sum_time', title: '总时间', sort: true,width:120}
          ,{field:'min_time', title: '单次执行最小时间', sort: true,width:150}
          ,{field:'avg_time', title: '单次执行平均时间', sort: true,width:100} //align: 'center'单元格内容水平居中
          ,{field:'max_time', title: '单次执行最大时间'} //单元格内容水平居中
          ,{field:'SUM_LOCK_TIME', title: 'SUM_LOCK_TIME'}
          ,{field:'SUM_ROWS_AFFECTED', title: 'SUM_ROWS_AFFECTED', sort: true,width:100}
          ,{field:'SUM_ROWS_SENT', title: 'SUM_ROWS_SENT', sort: true,width:100}
          ,{field:'SUM_ROWS_EXAMINED ', title: 'SUM_ROWS_EXAMINED', sort: true,width:100}
        ]]
        ,id: "test-table-autowidth"
      });

      //sql_profile
      //| Status  | Duration | CPU_user | CPU_system | Context_voluntary | Context_involuntary | Block_ops_in | Block_ops_out |
      // Messages_sent | Messages_received | Page_faults_major | Page_faults_minor | Swaps | Source_function       | Source_file
      // | Source_line |
      var sqlprofile = table.render({
        elem: '#sql_profile'
        ,url : '/mysql_sqlprofile'
        ,cols: [[ //标题栏
           {field: 'Status', title: 'Status', width: 200}
          ,{field: 'Duration', title: 'Duration', width: 200}
          ,{field: 'CPU_user', title: 'CPU_user', width: 200}
          ,{field: 'CPU_system', title: 'CPU_system', width: 200}
          ,{field: 'Context_voluntary', title: 'Context_voluntary', width: 120}
          ,{field: 'Context_involuntary', title: 'Context_involuntary', width: 120}
          ,{field: 'Block_ops_in', title: 'Block_ops_in', width: 120}
          ,{field: 'Block_ops_out', title: 'Block_ops_out', width: 120}
          ,{field: 'Messages_sent', title: 'Messages_sent', width: 120}
          ,{field: 'Messages_received', title: 'Messages_received', width: 120}
          ,{field: 'Page_faults_major', title: 'Page_faults_major', width: 120}
          ,{field: 'Swaps', title: 'Swaps', width: 120}
          ,{field: 'Source_function', title: 'Source_function', width: 200}
          ,{field: 'Source_file', title: 'Source_file', width: 200}
          ,{field: 'Source_line', title: 'Source_line', width: 50}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_profile"
        ,done : function(res, curr, count){
          changeNum("行业",count)
        }
      })

      //sql_text
      var sqltext = table.render({
        elem: '#sql_text'
        ,url : '/mysql_sqltext'
        ,cols: [[ //标题栏
         {field: 'sql_text', title: 'SQL  文本', width: 800}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_text"
        ,done : function(res, curr, count){
          changeNum("企业",count)
        }
      })

      //sql_plan
      //+----+-------------+-------+------------+------+---------------+------+---------+------+------+----------+-------+
      //| id | select_type | table | partitions | type | possible_keys | key  | key_len | ref  | rows | filtered | Extra |
      //+----+-------------+-------+------------+------+---------------+------+---------+------+------+----------+-------+
      //|  1 | SIMPLE      | user  | NULL       | ALL  | NULL          | NULL | NULL    | NULL |   11 |   100.00 | NULL  |
       //+----+-------------+-------+------------+------+---------------+------+---------+------+------+----------+-------+
      //
      var sqlplan = table.render({
        elem: '#sql_plan'
        ,url : '/mysql_sqlplan'
        ,cols: [[ //标题栏
          {field: 'id', title: '序号', width: 60}
          ,{field: 'select_type', title: 'select_type', width: 200}
          ,{field: 'table', title: 'table', width: 200}
          ,{field: 'type', title: 'type', width: 200}
          ,{field: 'possible_keys', title: 'possible_keys', width: 200}
          ,{field: 'key', title: 'key', width: 200}
          ,{field: 'key_len', title: 'key_len', width: 200}
          ,{field: 'ref', title: 'ref', width: 200}
          ,{field: 'rows', title: 'rows', width: 200}
          ,{field: 'filtered', title: 'filtered', width: 200}
          ,{field: 'Extra', title: 'Extra', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_plan"
        ,done : function(res, curr, count){
          changeNum("人员",count)
        }
      })

      //sql_trace
      var sqltrace = table.render({
        elem: '#sql_trace'
        ,url : '/mysql_sqltrace'
        ,cols: [[ //标题栏
          {field: 'trace', title: 'Optimizer Trace', width: 300}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_trace"
        ,done : function(res, curr, count){
          changeNum("人员",count)
        }
      })

      //sql_statistics
      // mysql [localhost:5734] {root} (mysql) > desc innodb_index_stats;
      // +------------------+---------------------+------+-----+-------------------+-----------------------------+
      // | Field            | Type                | Null | Key | Default           | Extra                       |
      // +------------------+---------------------+------+-----+-------------------+-----------------------------+
      // | database_name    | varchar(64)         | NO   | PRI | NULL              |                             |
      // | table_name       | varchar(199)        | NO   | PRI | NULL              |                             |
      // | index_name       | varchar(64)         | NO   | PRI | NULL              |                             |
      // | last_update      | timestamp           | NO   |     | CURRENT_TIMESTAMP | on update CURRENT_TIMESTAMP |
      // | stat_name        | varchar(64)         | NO   | PRI | NULL              |                             |
      // | stat_value       | bigint(20) unsigned | NO   |     | NULL              |                             |
      // | sample_size      | bigint(20) unsigned | YES  |     | NULL              |                             |
      // | stat_description | varchar(1024)       | NO   |     | NULL              |                             |
      // +------------------+---------------------+------+-----+-------------------+-----------------------------+
      //  8 rows in set (0.00 sec)
      // mysql [localhost:5734] {root} (mysql) > desc innodb_table_stats；
      // +--------------------------+---------------------+------+-----+-------------------+-----------------------------+
      // | Field                    | Type                | Null | Key | Default           | Extra                       |
      // +--------------------------+---------------------+------+-----+-------------------+-----------------------------+
      // | database_name            | varchar(64)         | NO   | PRI | NULL              |                             |
      // | table_name               | varchar(199)        | NO   | PRI | NULL              |                             |
      // | last_update              | timestamp           | NO   |     | CURRENT_TIMESTAMP | on update CURRENT_TIMESTAMP |
      // | n_rows                   | bigint(20) unsigned | NO   |     | NULL              |                             |
      // | clustered_index_size     | bigint(20) unsigned | NO   |     | NULL              |                             |
      // | sum_of_other_index_sizes | bigint(20) unsigned | NO   |     | NULL              |                             |
      // +--------------------------+---------------------+------+-----+-------------------+-----------------------------+
      // 6 rows in set (0.00 sec)

      var sqlstatistics = table.render({
        elem: '#sql_statistics'
        ,url : '/mysql_sqlstatistics'
        ,cols: [[ //标题栏
          {field: 'database_name', title: 'database_name', width: 200}
          ,{field: 'table_name', title: 'table_name', width: 200}
          ,{field: 'last_update', title: 'last_update', width: 200}
          ,{field: 'n_rows', title: 'n_rows', width: 200}
          ,{field: 'clustered_index_size', title: 'clustered_index_size', width: 200}
          ,{field: 'sum_of_other_index_sizes', title: 'sum_of_other_index_sizes', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_statistics"
        ,done : function(res, curr, count){
          changeNum("人员",count)
        }
      })

      //sql_history
      myChartObj = echarts.init(document.getElementById("sql_history"));
      var option = {
        title: {
          text: ''
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: ['周一','周二','周三','周四','周五','周六','周日']
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            name:'邮件营销',
            type:'line',
            data:[120, 132, 101, 134, 90, 230, 210]
          },
          {
            name:'联盟广告',
            type:'line',
            data:[220, 182, 191, 234, 290, 330, 310]
          },
          {
            name:'视频广告',
            type:'line',
            data:[150, 232, 201, 154, 190, 330, 410]
          },
          {
            name:'直接访问',
            type:'line',
            data:[320, 332, 301, 334, 390, 330, 320]
          },
          {
            name:'搜索引擎',
            type:'line',
            data:[820, 932, 901, 934, 1290, 1330, 1320]
          }
        ]
      };
      //var myChartObj = {'chart1':null}
      //myChartObj.setOption(option);

    });
  })

  var time=$('#superviseDept option:selected') .val();
  // console.log("time"+time);
//页面表格定时刷新
  window.reloadView = function () {
    window.location.reload();
  }
  // setInterval('reloadView()',2000);

  // function reloadTable(param) {
  //   console.log('param ' + param);
  //   var index = layer.msg('查询中，请稍后...', {icon: 16, time: false, shade: 0});
  //   setTimeout(function() {
  //     table.reload('test-table-autowidth', {
  //       page: {
  //         curr: 1,
  //       }, where: {},
  //     });
  //     layer.close(index);
  //   }, 800);
  // }



  function getRequest() {
    const url = location.search; //获取url中"?"符后的字串
    let theRequest = new Object();
    if (url.indexOf("?") != -1) {
      let str = url.substr(1);
      let strs = str.split("&");
      for(let i = 0; i < strs.length; i ++) {
        theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
      }
    }
    return theRequest;
  }

  function getQueryVariable(variable){
    let query = window.location.search.substring(1);
    let vars = query.split("&");
    for (let i=0;i<vars.length;i++) {
      let pair = vars[i].split("=");
      if(pair[0] == variable){return pair[1];}
    }
    return(false);
  }

  //加载表格数据完成时回调设置数据数目
  /*function (name,count){
    var $li = $(".layui-tab ul li");
    for(var i=0;changeNumi<$li.length;i++){
      var text = $li.eq(i).text();
      if(text.indexOf(name)>-1){
        $li.eq(i).text(name+"("+count+")");
        return;
      }
    }
  }*/






  //表格重载方法
  function reloadTable(id,target_url,param){
    table.reload(id,{
      url:target_url,
      where:param
    });
  }

  //查询按钮点击事件
  $("#searchBtn").on("click",function(data){
    var searchInfo = $("#searchInfo").val();

    var param = {
      searchKey: searchInfo
    }

    //行业表格重载
    reloadTable('potential_industry_table',doGetPotentialIndustryUrl,param);
    //企业表格重载
    reloadTable('potential_company_table',doGetPotentialCompanyUrl,param);
    //人员表格重载
    reloadTable('potential_person_table',doGetPotentialPersonUrl,param);


  })


</script>
</body>
</html>