<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MySQL TOP session </title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="web/static/lib/layui-v2.6.3/css/layui.css" media="all">
  <link rel="stylesheet" href="web/static/css/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>MySQL TOP sessioon</cite></a>
  </div>
</div>

<!--<div class="layui-inline">-->
<!--  <div class="layui-input-inline" style="width: 200px;">-->
<!--    <select name="interest" lay-filter="aihao" id="superviseDept" >-->
<!--      <option value="">刷新时间</option>-->
<!--      <option value="2000">2秒</option>-->
<!--      <option value="3000">3秒</option>-->
<!--      <option  value="5000">5秒</option>-->
<!--      <option selected="selected"value="10000">10秒</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->


<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">MySQL TOP SQL</div>
        <div class="layui-card-body">
          <table class="layui-hide" id="test-table-autowidth"></table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="layui-card-body">
  <div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title" style="padding-right: 30px;height: auto!important;white-space: normal!important;">
      <li class="layui-this">执行效率</li>
      <li>sql文本</li>
      <li>优化器执行计划</li>
      <li>优化器日志</li>
      <li>统计信息</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <table class="layui-table" id="sql_profile"
               lay-filter="sql_profile"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_text"
               lay-filter="sql_text"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_plan"
               lay-filter="sql_plan"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_trace"
               lay-filter="sql_trace"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-table" id="sql_statistics"
               lay-filter="sql_statistics"></table>
      </div>

    </div>
  </div>
</div>





<script src="web/static/lib/layui-v2.6.3/layui.js"></script>
<script src="web/static/js/jquery.min.js"></script>
<script>
  /*$(document).ready(function() {

  });*/
  //$("#superviseDept").val(5000);//设置value为xx的optio
  var nowCount=0;
  var nowCurr=0;

  // var id = $.getUrlParam('id');
  var id = getQueryVariable('id');
  $(function() {
    layui.use(['form', 'table'], function () {
      var $ = layui.jquery,
              form = layui.form,
              table = layui.table;


      var insTb = table.render({
        elem: '#test-table-autowidth'  // 指向页面组件id
        ,where:{ id: id }                // 传递ID参数,根据ID 获取本地配置数据库中目标数据库连接信息（ip，username，password，port）
        ,url: '/Getmysqltopsql'       // 异步获取数据api接口
        ,method:'post'
        ,cellMinWidth: 80              //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        ,cols: [[
          {field:'SCHEMA_NAME',title: '数据库名', sort: true,width:100}
          ,{field:'DIGEST_TEXT', title: 'SQL', sort: true} //width 支持：数字、百分比和不填写。width: '30%' 你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
          ,{field:'COUNT_STAR', title: '总次数', sort: true}
          ,{field:'sum_time', title: '总时间', sort: true,width:120}
          ,{field:'min_time', title: '单次执行最小时间', sort: true,width:150}
          ,{field:'avg_time', title: '单次执行平均时间', sort: true,width:100} //align: 'center'单元格内容水平居中
          ,{field:'max_time', title: '单次执行最大时间'} //单元格内容水平居中
          ,{field:'SUM_LOCK_TIME', title: 'SUM_LOCK_TIME'}
          ,{field:'SUM_ROWS_AFFECTED', title: 'SUM_ROWS_AFFECTED', sort: true,width:100}
          ,{field:'SUM_ROWS_SENT', title: 'SUM_ROWS_SENT', sort: true,width:100}
          ,{field:'SUM_ROWS_EXAMINED ', title: 'SUM_ROWS_EXAMINED', sort: true,width:100}
        ]]
        ,id: "test-table-autowidth"
      });

      //sql_profile
      var sqlprofile = table.render({
        elem: '#sql_profile'
        ,url : '/mysql_sqlprofile'
        ,cols: [[ //标题栏
           {field: 'index', title: '序号', width: 60}
          ,{field: 'mpanyName', title: '名称', width: 200}
          ,{field: 'socialCreditCode', title: '统一社会信用代码', width: 200}
          ,{field: 'industryType', title: '行业类别', width: 200}
          ,{field: 'technicalField', title: '技术领域', width: 200}
          ,{field: 'address', title: '详细地址', width: 200}
          ,{field: 'personInCharge', title: '负责人', width: 200}
          ,{field: 'contactInformation', title: '联系方式', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_profile"
        ,done : function(res, curr, count){
          changeNum("行业",count)
        }
      })

      //sql_text
      var sqltext = table.render({
        elem: '#sql_text'
        ,url : '/mysql_sqltext'
        ,cols: [[ //标题栏
          {field: 'index', title: '序号', width: 60}
          ,{field: 'sql_text', title: 'sql  文本', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_text"
        ,done : function(res, curr, count){
          changeNum("企业",count)
        }
      })

      //sql_plan
      var sqlplan = table.render({
        elem: '#sql_plan'
        ,url : '/mysql_sqlplan'
        ,cols: [[ //标题栏
          {field: 'index', title: '序号', width: 60}
          ,{field: 'name', title: '姓名', width: 200}
          ,{field: 'idNumber', title: '身份证号', width: 200}
          ,{field: 'gender', title: '性别', width: 200}
          ,{field: 'politicalAppearance', title: '政治面貌', width: 200}
          ,{field: 'culturalDegree', title: '文化程度', width: 200}
          ,{field: 'myselfPhone', title: '本人联系电话', width: 200}
          ,{field: 'technicalTitle', title: '技术职称', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_plan"
        ,done : function(res, curr, count){
          changeNum("人员",count)
        }
      })

      //sql_trace
      var sqltrace = table.render({
        elem: '#sql_trace'
        ,url : '/mysql_sqltrace'
        ,cols: [[ //标题栏
          {field: 'index', title: '序号', width: 60}
          ,{field: 'name', title: '姓名', width: 200}
          ,{field: 'idNumber', title: '身份证号', width: 200}
          ,{field: 'gender', title: '性别', width: 200}
          ,{field: 'politicalAppearance', title: '政治面貌', width: 200}
          ,{field: 'culturalDegree', title: '文化程度', width: 200}
          ,{field: 'myselfPhone', title: '本人联系电话', width: 200}
          ,{field: 'technicalTitle', title: '技术职称', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_trace"
        ,done : function(res, curr, count){
          changeNum("人员",count)
        }
      })

      //sql_statistics
      var sqlstatistics = table.render({
        elem: '#sql_statistics'
        ,url : '/mysql_sqlstatistics'
        ,cols: [[ //标题栏
          {field: 'index', title: '序号', width: 60}
          ,{field: 'name', title: '姓名', width: 200}
          ,{field: 'idNumber', title: '身份证号', width: 200}
          ,{field: 'gender', title: '性别', width: 200}
          ,{field: 'politicalAppearance', title: '政治面貌', width: 200}
          ,{field: 'culturalDegree', title: '文化程度', width: 200}
          ,{field: 'myselfPhone', title: '本人联系电话', width: 200}
          ,{field: 'technicalTitle', title: '技术职称', width: 200}
        ]]
        ,even: true
        ,page: true //是否显示分页
        ,limits: [8, 12, 15,18]
        ,limit: 12 //每页默认显示的数量
        ,id: "sql_statistics"
        ,done : function(res, curr, count){
          changeNum("人员",count)
        }
      })

    });
  })

  var time=$('#superviseDept option:selected') .val();
  // console.log("time"+time);
//页面表格定时刷新
  window.reloadView = function () {
    window.location.reload();
  }
  // setInterval('reloadView()',2000);

  // function reloadTable(param) {
  //   console.log('param ' + param);
  //   var index = layer.msg('查询中，请稍后...', {icon: 16, time: false, shade: 0});
  //   setTimeout(function() {
  //     table.reload('test-table-autowidth', {
  //       page: {
  //         curr: 1,
  //       }, where: {},
  //     });
  //     layer.close(index);
  //   }, 800);
  // }



  function getRequest() {
    const url = location.search; //获取url中"?"符后的字串
    let theRequest = new Object();
    if (url.indexOf("?") != -1) {
      let str = url.substr(1);
      let strs = str.split("&");
      for(let i = 0; i < strs.length; i ++) {
        theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
      }
    }
    return theRequest;
  }

  function getQueryVariable(variable){
    let query = window.location.search.substring(1);
    let vars = query.split("&");
    for (let i=0;i<vars.length;i++) {
      let pair = vars[i].split("=");
      if(pair[0] == variable){return pair[1];}
    }
    return(false);
  }

  //加载表格数据完成时回调设置数据数目
  /*function (name,count){
    var $li = $(".layui-tab ul li");
    for(var i=0;changeNumi<$li.length;i++){
      var text = $li.eq(i).text();
      if(text.indexOf(name)>-1){
        $li.eq(i).text(name+"("+count+")");
        return;
      }
    }
  }*/






  //表格重载方法
  function reloadTable(id,target_url,param){
    table.reload(id,{
      url:target_url,
      where:param
    });
  }

  //查询按钮点击事件
  $("#searchBtn").on("click",function(data){
    var searchInfo = $("#searchInfo").val();

    var param = {
      searchKey: searchInfo
    }

    //行业表格重载
    reloadTable('potential_industry_table',doGetPotentialIndustryUrl,param);
    //企业表格重载
    reloadTable('potential_company_table',doGetPotentialCompanyUrl,param);
    //人员表格重载
    reloadTable('potential_person_table',doGetPotentialPersonUrl,param);


  })


</script>
</body>
</html>